<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!--<service name="WCFService.MyService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9010/MyService"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="maxtcpBinding"
                  contract="WCFServiceContract.IMyService"
                  name="MyService"></endpoint>
      </service>-->

      <service name="WCFService.AddService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9011/AddService"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="maxtcpBinding"
                  contract="WCFServiceContract.IAddService"
                  name="AddService"></endpoint>
      </service>
      
      <!--<service name="WCFService.MyService" behaviorConfiguration="WCFHost.Service1Behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2150/MyService"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="WCFServiceContract.IMyService"
                  name="HttpService"></endpoint>
      </service>-->
    </services>

    <bindings>
      <netTcpBinding>
        <!--PayCalc - Binding used only by Pay Calc Application related services-->
        <binding name="maxtcpBinding" 
                 maxReceivedMessageSize="2147483647"  
                 listenBacklog="15" 
                 maxConnections="15" 
                 openTimeout="0:2:0" 
                 sendTimeout="0:50:0" 
                 closeTimeout="0:02:0" 
                 receiveTimeout="0:50:0">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel ="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFHost.Service1Behavior">
          <!--To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment-->
          <serviceMetadata httpGetEnabled="True" />
          <!--To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information-->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>